/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales*/

body{
    background-color: #ECEEF3;
    font-family: 'Roboto', sans-serif;
}

/*Estilos del contenedor principal div*/

.contenedor{
    height: 100vh;
}

/*Estilos de header*/

header{
    display: none;
}

/*Estilos del main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2{
    color: #182941;
    text-align: center;
}

main h2 span{
    display: block;
}

/*Para estilos individuales hay que crear una clase en p */
main p{
    text-align: center;
    padding: 1rem;
}

main .boton{
    background-color: #51B0DF;
    color: whitesmoke;
    padding: 0.7rem;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 5px black;
}

main img{
    width: 70%;
    filter: drop-shadow(3px 3px 5px);
}

/*estilos de section*/

section{
    display: none;
}

/*Estilos de footer*/

footer h4{
    text-align: center;
}

/*Declaro media queries (mq)*/

@media screen and (min-width:800px){
    .contenedor{
        display: grid;
        height: 100vh;
    }

    header{
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header nav ul{
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    /*Animaciones de los botones del menu*/

    header nav ul li:hover{
        background-color: #51B0DF;
        font-weight: bold;
        transform: scale(0.9);
        box-shadow: 1px 1px 2px black;
        color: #ECEEF3;
    }

    main{
        display: grid;
        grid-template-columns:2fr 2fr ;
        grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr ;
        grid-template-areas: 
        "p img"
        "h2 img"
        "p-dos img"
        "boton img";
        justify-content: center;
        justify-items: center;
    }

    main p{
        grid-area: p;
    }

    main h2{
        grid-area: h2;
    }

    main .p-dos{
        grid-area: p-dos;
    }

    main .boton{
        grid-area: boton;
    }

    /*Estilos animacions del boton*/

    main .boton:hover{
        box-shadow: 1px 1px 2px gray;
        transform: scale(0.9);
    }

    main img{
        grid-area: img;
        filter: drop-shadow(3px 3px 5px);
    }

    /*Animaciones img*/
    main img:hover{
        filter: drop-shadow(5px 5px 3px);
        transform: scale(1.1);
    }

    /*Estilos de section*/

    section{
        display: block;
        display: flex;
        background-color: #bee0f1;
    }

    section div{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /*animaciones de img de section*/

    section div img{
        width: 20%;
        filter: drop-shadow(1px 1px 3px);
        animation-name: img-movimiento;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-direction: alternate-reverse;

    }

    @keyframes img-movimiento {
        from{
            transform: scale(1);
        }

        to{
            transform: scale(1.2);
        }
        
    }

    section div p{
        text-align: center;
    }

    /*Estilos de footer*/

    footer{
        display: none;
    }

}
